<section class="mainSection">
    <h1 class="pageTitle">Node App Ver:17 On Azure Container Service & Kubernetes</h1>
    <p>  ✅ Use this site to upload images to Azure blob storage.</p>
    <p>  ✅ The uploaded image will be processed(using Cognitive Services - OCR Api) and converted to searcheable PDF format. </p>
    <p>  ✅ The OCR information will also be ingested into Cosmos DB for search and query purpose.</p>
    <p>  ✅ The converted PDF file will be posted back to Azure blob storage.</p>
    <p>  ✅ Below is the CICD pipline for this web app. </p>
    <img src="/Images/CICD.png" alt="CICD"  height="350" width="600">
</section>