<section class="mainSection">
    <h1 class="pageTitle">Node App Ver:6 On Azure Container Service</h1>
    <p>  ✅ Use this site to upload images to Azure blob storage.</p>
    <p>  ✅ The uploaded file will be processed(Using Cognitive Services - OCR Api) and converted to searcheable PDF format. </p>
    <p>  ✅ The OCR information will also be ingested into Cosmos DB for search and query purpose.</p>
    <p>  ✅ The converted PDF file will be poseted back to Azure blob storage.</p>
</section>